@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbff;
  --foreground: #03050f;

  --dark-background: #03050f;
  --dark-foreground: #fafbff;
}

body {
  font-family: var(--font-brsonoma-regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
